<div>
    <h2>My Orders</h2>
    <hr>
    {{# if orders }}
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">PRODUCT</th>
                <th scope="col">PRICE</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {{# each orders }}
            <tr>
                <td colspan="5">
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            <div class="float-start"><b>Order ID: {{ this._id }}</b></div>
                            <div class="float-end"><b>Order Amount: Rs. {{ this.cart.totalPrice }}</b></div><br>
                            <div class="float-start"><b>Order Status: Shipping</b></div>
                        </div>
                    </div>
                </td>
            </tr>
            {{# each this.items}}
            <tr>
                <td>
                    <img src="{{ this.item.imagePath }}" alt="..." class="img-thumbnail" style="height: 100px;">
                    {{ this.item.title}}
                </td>
                <td>Rs. {{ this.item.price}}</td>
                <td>{{ this.qty }}</td>
                <td>Rs. {{ this.price}}</td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>
    {{ else }}
    <div class="row">
        <div class="text-center">
            <h2>No Any Order</h2>
        </div>
    </div>
    {{/if}}
</div>