<div>
    <h2>My Orders</h2>
    <hr>
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col" colspan="2">PRODUCT</th>
                <th scope="col">PRICE</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {{# each orders }}
            <tr>
                <td colspan="5">
                    <div class="card text-dark bg-light">
                        <div class="card-body">
                            <div>Order ID: </div>
                            <div>Order Amount: {{ this.totalPrice }}</div>
                        </div>
                    </div>
                </td>
            </tr>
            {{# each this.items}}
            <tr>
                <td>
                    <img src="{{ this.item.imagePath }}" alt="..." class="img-thumbnail" style="height: 100px;">
                </td>
                <td>{{ this.item.title}}</td>
                <td>{{ this.item.price}}</td>
                <td>{{ this.qty }}</td>
                <td>{{ this.price}}</td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>
</div>