{{# if products }}
<table class="table table-bordered align-middle">
    <thead class="table-light">
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">PRODUCT</th>
            <th scope="col">PRICE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {{# each products}}
        <tr>
            <th scope="row"><a href="/remove/{{this.item._id}}" class="btn btn-critical float-end" role="button"><i
                        class="fas fa-trash-alt"></i></a></th>
            <td>
                <img src="{{ this.item.imagePath }}" alt="..." class="img-thumbnail" style="height: 100px;">
            </td>
            <td>{{ this.item.title}}</td>
            <td>{{ this.item.price}}</td>
            <td>{{ this.qty }}</td>
            <td><strong class="float-end">{{ this.price}}</strong></td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"><strong class="float-end">Total:</strong></td>
            <td><strong class="float-end">{{ totalPrice }}</strong></td>
        </tr>
    </tfoot>
</table>
<div class="row">
    <div>
        <a href="/checkout" type="button" class="btn btn-success float-end">Checkout</a>
    </div>
</div>
{{ else }}
<div class="row">
    <div class="text-center">
        <h2>No Items in Cart</h2>
    </div>
</div>
{{/if}}
<!--<div class="row justify-content-md-center">
        <div class="col-sm-6 col-md-6">
            <ul class="list-group">
                {{# each products}}
                    <li class="list-group-item">
                        <span class="badge bg-secondary">{{ this.qty }}</span>
                        <strong>{{ this.item.title }}</strong>
                        <span class="label label-success">${{ this.price }}</span>
                        <div class="btn-group float-end">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                                <li><a class="dropdown-item" href="/remove/{{this.item._id}}">Remove All</a></li>
                            </ul>                                  
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>-->